/*
 * Configuration File to run fmalmeida/mpgap pipeline.
 */

params {

 
  // starting values for the assembly jobs (and quast) to ask for in the very first try
  start_asm_mem              = 20.GB
  start_asm_cpus             = 6

  // maximum values to be used on automatic second try in case of lack of memory (all jobs)
  max_memory                 = 40.GB
  max_cpus                   = 10
  max_time                   = '40.h'

}
